<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class ="name">
            <h1>Formatos</h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="has-dropdown not-click"> <a href="a">DAC-RG-10</a>
                <ul class="dropdown">
                    <li class="parent-link show-for-small-only"><a class="parent-link-js-generated" href="#">DAC-RG-01</a></li>
                    <li><%= link_to 'Ver', controller: '/posts', action: 'index' %></li>
                    <li><%= link_to 'Nuevo', controller: '/posts', action: 'new'%></li>
                </ul>
            </li>
            
        </ul>
        
        <ul class="right">
            <%if user_signed_in?%>
                <li><a>Logger in as <%= current_user.email%></a></li>
                <li><%= link_to 'edit profile', edit_user_registration_path%></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            <%elsif admin_signed_in?%>
                <li><a>Logger in as <%= current_admin.email%></a></li>
                <li><%= link_to 'edit profile', edit_user_registration_path%></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            <%else%>
                <li><%= link_to 'new session', new_user_session_path%></li>
                <li><%= link_to 'new registration', new_user_registration_path%></li>
            <%end%>
            <li class="divider"></li>
        </ul>
    </section>
</nav>

